html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

section {
  display: inherit;
}

h1 {
  padding-bottom: 1rem;
  margin-bottom: 0;
}

.fw7 {
  font-weight: 700;
}

.fw3 {
  font-weight: 300;
}

.fs125 {
  font-size: 1.25rem;
}

@media (min-width: 1281px) {
  .fs225 {
    font-size: 2.25rem;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .fs225 {
    font-size: 2.25rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .fs225 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .fs225 {
    font-size: 2rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .fs225 {
    font-size: 2rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .fs225 {
    font-size: 2rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.main-text {
  font-family: "Rubik", sans-serif;
}

@media (min-width: 1281px) {
  .navbar {
    display: flex;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .navbar {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .navbar {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .navbar {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    display: none;
  }
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.nav-container {
  margin: 5px auto;
}

.nav-item {
  display: inline-block;
  margin: 0 20px;
}

.nav-item a {
  color: #222426;
}

.nav-item a:hover {
  color: #8b23e6;
}

.grid-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "header" "about" "speakers" "agenda" "venue" "accomodation" "sponsors" "team";
}

.box {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 2.5rem;
  padding-top: 2rem;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .container {
    max-width: 1300px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .container {
    max-width: 1000px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    max-width: 600px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    max-width: 600px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .container {
    max-width: 400px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    max-width: 400px;
  }
}

.header {
  font-family: "Rubik", sans-serif;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding-bottom: 2.5rem;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 1281px) {
  .header {
    background-image: url("./assets/img/cover-w1900.jpg");
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .header {
    background-image: url("./assets/img/cover-w1400.jpg");
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    background-image: url("./assets/img/cover-w1000.jpg");
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .header {
    background-image: url("./assets/img/cover-w600.jpg");
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    background-image: url("./assets/img/cover-w600.jpg");
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    background-image: url("./assets/img/cover-w600.jpg");
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  margin-top: 12rem;
}

.promo-video {
  width: 640px;
  height: 360px;
}

@media (min-width: 481px) and (max-width: 767px) {
  .promo-video {
    width: unset;
    height: unset;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .promo-video {
    width: unset;
    height: unset;
  }
}

.button {
  margin-top: 3rem;
  font-size: 16px;
  color: #3275c3;
  line-height: 1.5;
  padding: 0.5em 2em;
  background: #ebf4ff;
  border: 1px solid #72abed;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.flag {
  width: 25px;
  margin-left: 10px;
}

.add-content {
  display: flex;
  align-items: center;
}

.content-text {
  color: #333333;
}

.content {
  display: flex;
}

@media (min-width: 1281px) {
  .content {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .content {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .content {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .content {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .content {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .content {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.summary-icons {
  display: inline-flex;
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .summary-icons {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .summary-icons {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .summary-icons {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .summary-icon {
    width: 200px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .summary-icon {
    width: 200px;
  }
}

.content-logo {
  width: 100%;
  padding-left: 20px;
}

.meet-speakers {
  background: #333a40;
}

.speakers-title {
  border-bottom: 2px solid rgba(185, 205, 222, 0.2);
  color: #ffffff;
}

@media (max-width: 576px) {
  .speakers-info {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .speakers-info {
    flex-direction: column;
  }
}

.speakers-info {
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
}

.speaker {
  margin-top: 3rem;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-flex;
  flex: 33.3333%;
}

.speaker-info {
  color: #ffffff;
  padding-left: 60px;
  margin: 0px;
}

.speaker-info h3 {
  margin-bottom: 10px;
}

.speaker-info p {
  margin-bottom: 1rem;
}

.speaker-info a {
  color: rgba(206, 153, 255, 0.8);
}

.full-agenda {
  background: #e9eef3;
}

.agenda-title {
  border-bottom: 2px solid #b9cdde;
}

.agenda-container {
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    "header1 header1"
    "day1 day1"
    "day1end day1end"
    "header2 header2"
    "day2 day2";
  grid-gap: 1rem;
}

@media (min-width: 1281px) {
  .agenda-container {
    display: grid;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .agenda-container {
    display: grid;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .agenda-container {
    display: grid;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .agenda-container {
    display: grid;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .agenda-container {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .agenda-container {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.first-day-header {
  grid-area: header1;
}

.second-day-header {
  grid-area: header2;
}

.agenda-day h2 {
  border-bottom: 1px solid #b9cdde;
  padding-bottom: 0.5rem;
  grid-area: day1;
}

.agenda-day > ul {
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #b9cdde;
  padding-bottom: 11px;
}

.event-time {
  float: left;
}

.event-desc {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 14px;
  margin-left: 100px;
  padding-left: 30px;
  line-height: 1.5;
}

.afterparty {
  font-weight: 500;
  text-align: center;
  grid-area: day1end;
}

.venue-container {
  background: #333a40;
  color: #ffffff;
}

.venue-title {
  border-bottom: 2px solid rgba(185, 205, 222, 0.2);
}

.venue-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 481px) and (max-width: 767px) {
  .venue-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .venue-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.venue-logo {
  padding-top: 1rem;
  align-self: center;
  max-width: 50%;
}

.img-link {
  text-align: center;
}

.accomodation-container {
  background: #e9eef3;
}

.accomodation-title {
  border-bottom: 2px solid #b9cdde;
}

.accomodation-content {
  display: flex;
  flex-direction: column;
}

@media (min-width: 481px) and (max-width: 767px) {
  .accomodation-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .accomodation-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.accomodation-logo {
  padding-top: 1rem;
  align-self: center;
}

.sponsors-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sponsor-main {
  width: 40%;
}

@media (min-width: 481px) and (max-width: 767px) {
  .sponsor-main {
    width: unset;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .sponsor-main {
    width: unset;
  }
}

.sponsor {
  width: 40%;
}

.sponsors-other {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meet-team {
  background: #333a40;
}

.team-title {
  border-bottom: 2px solid rgba(185, 205, 222, 0.2);
  color: #ffffff;
}

.team-info {
  display: flex;
  flex-wrap: wrap;
}

.team-member {
  margin-top: 3rem;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-flex;
  flex: 33.3333%;
}

.team-member-info {
  color: #ffffff;
  padding-left: 60px;
  margin: 0px;
}

.team-member-info h3 {
  margin-bottom: 10px;
  margin-top: 0px;
}

.team-member-info p {
  margin: 0px;
}

.team-member-info a {
  color: rgba(206, 153, 255, 0.8);
}

footer {
  padding-top: 1rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

.footer-background {
  background-color: #e9eef3;
}

.organizer-contact {
  padding-bottom: 0.5rem;
}

@media (min-width: 1281px) {
  .conf-logo {
    width: 50%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .conf-logo {
    width: 50%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .conf-logo {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .conf-logo {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .conf-logo {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .conf-logo {
    width: 100%;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
}
